.input-field {
    position: relative;
}

/* Label default state */
.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

/* Input & Textarea style */
.input-field input,
.input-field textarea {
    padding: 10px 150px;
    font-size: 1rem;
    border-radius: 8px;
    letter-spacing: 1px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}

/* Focus + Active border */
.input-field input:focus,
.input-field textarea:focus {
    border: 1px solid #0034de;
}

/* Floating label on focus or when valid */
.input-field input:focus ~ label,
.input-field input:valid ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 100px;
}
