.input-field {
    position: relative;
}

/* Label default state */
.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

/* Input & Textarea style */
.input-field input,
.input-field textarea {
    padding: 10px 150px;
    font-size: 1rem;
    border-radius: 8px;
    letter-spacing: 1px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}

/* Focus + Active border */
.input-field input:focus,
.input-field textarea:focus {
    border: 1px solid #5044E5;
}

/* Floating label on focus or when valid */
.input-field input:focus ~ label,
.input-field input:valid ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #5044E5;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 100px;
}

 .btn-3{
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    background: white;
    border: none;
    color: #5044E5;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .5s all ease;
}

.btn-3{
    color: white;
}
.btn-3::before{
    content: '';
    width: 100%;
    height: 100%;
    background:#5044E5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-50%);
    transition: .5s all ease;
}
.btn-3:hover::before{
    transform: translateX(-100%);
}
.btn-3::after{
    content: '';
    width: 100%;
    height: 100%;
    background:#5044E5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(50%);
    transition: .5s all ease;
}


.btn-3:hover::after{
    transform: translateX(100%);
}
.btn-3:hover{
    color: #5044E5;
    /* background-color: white; */
} 

 